/* Global Styles */
body {
    font-family: 'Indie Flower', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Styles de base pour la navbar */
.w3-top {
    background-color: #FFD700; 
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.title-ex{
    text-align: center;
}
.w3-bar-item {
    font-family: 'Comic Sans MS', cursive; 
    font-size: 24px; 
    color: #FFFFFF; 
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s, transform 0.3s;
    margin: 0 5px;
    border-radius: 10px; 
}

.w3-bar-item:hover {
    background-color: #FFA500;
    transform: scale(1.1); 
}

/* Ajout d'icônes aux boutons */
.w3-bar-item::before {
    display: inline-block;
    margin-right: 8px;
    font-size: 24px;
    vertical-align: middle;
}

/* --- Login page --- */
.login-page {
    background-image: url('../images/bg-login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-page form {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-page label {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.login-page input[type="text"] {
    width: calc(100% - 2rem);
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.login-page button {
    font-family: 'Indie Flower', cursive;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-page button:hover {
    background-color: #0056b3;
}

#message {
    margin-top: 1rem;
    color: #007bff;
}

/* --- Exercises page --- */
.exercise-page {
    font-family: 'Indie Flower', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/number.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#exercise-container {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: auto; 
    max-width: 800px; 
    margin: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    box-sizing: border-box; 
}


#drag-drop-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    width: 80%; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px;
    box-sizing: border-box;
}

.exercise {
    margin: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center; 
    width: calc(50% - 40px); 
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    background-color: #ffffff;
}

.exercise div {
    margin-left: 15px;  
    margin-right: 15px; 
}

.answer {
    margin: 10px;
    padding: 10px;
    border: 1px solid #000;
    cursor: pointer;
}

.drop-zone {
    width: 300px;
    height: 50px;
    margin: 0 10px;
    padding: 10px;
    border: 2px dashed #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="number"] {
    background-color: #FFD700; 
    font-family: 'Comic Sans MS', cursive; 
    color: #333; 
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 10px; 
    font-size: 24px; 
    width: 50%; 
    max-width: 300px; 
    box-sizing: border-box; 
    text-align: center; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

button.selected {
    background-color: #4CAF50; /* Green */
    color: white;
}

button {
    background-color: #FFD700; 
    font-family: 'Comic Sans MS', cursive; 
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 10px; 
    font-size: 24px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

button:hover {
    background-color: #FFA500; 
    transform: scale(1.1); 
}

#answer-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --- Scores page --- */
.scores-page {
    font-family: 'Indie Flower', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    background-image: url('../images/tableau-noir.jpg');
    background-size: cover;   
	background-repeat: no-repeat;

}

.table-wrapper {
    width: 100%;
    max-width: 800px; 
    padding: 20px; 
    box-sizing: border-box; 
}

#scoresTable {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    text-align: center; 
    border: 5px solid #ddd;
}

#scoresTable th, #scoresTable td {
    padding: 10px;
}
#scoresTable thead th {
    background-color: #f2f2f2;
    color: #333;
    padding: 10px;
    border-bottom: 2px solid #ddd;
    text-align: center;
    font-size: 25px;
}

#scoresTable tbody tr {
    background-color: #ffffff;
}

#scoresTable tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

/* Style pour les premières lignes */
.gold {
    font-size:25px;
    background-color: gold !important;

}

.silver {
    font-size:22px;
    background-color: silver !important;
}

.bronze {
    font-size:18px;
    background-color: #cd7f32 !important;
}


